<div class="center jumbotron">
  <h1>Welcome to the My Mini Blog</h1>

  <h2>
    This is the home page for the
    <%= link_to "Mini Blog", root_path %>
    sample application.
  </h2>

  <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
</div>

<%= link_to image_tag("logo.png", alt: "logo") %>